@import url('./__close-icon/popup__close-icon.css');
@import url('./__container/popup__container.css');
@import url('./__title/popup__title.css');
@import url('./__form-author-info/popup__form-author-info.css');
@import url('./__input/popup__input.css');
@import url('./__button-save/popup__button-save.css');
@import url('./__form/popup__form.css');
@import url('./__container-view/popup__container-view.css');
@import url('./__img-view/popup__img-view.css');
@import url('./__title-view/popup__title-view.css');
@import url('./__input_type_error/popup__input_type_error.css');
@import url('./__error_visible/popup__error_visible.css');
@import url('./__button-save_disabled/popup__button-save_disabled.css');
@import url('./__overlay/popup__overlay.css');

.popup {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s linear;
}

.popup_state_opened {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s linear;
}
